.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    padding: 14px 16px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    padding: 14px 16px;
    color: yellow;
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    margin-top: 188px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: yellow;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111; /* Change the link color to #111 (black) on hover */
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 14px 16px;
    color: white;
    background-color: #000000;
    border: none;
    font-size: 20px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.navBar.expanded {
    flex-direction: column;
    align-items: flex-start;
}

.navBar.expanded li {
    float: none;
    width: 100%;
}

.navBar.expanded li a {
    text-align: left;
    padding: 10px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navBar {
        display: none; /* Hide the navbar by default */
    }

    .navBar.expanded {
        display: flex; /* Show the navbar when expanded */
    }

    .hamburger {
        display: block; /* Show the hamburger menu on smaller screens */
    }
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

.navBar .spacer {
    flex: 1; /* This will take up all the available space */
}
.profileImage {
    width: 45px;
    height: 45px;
    /*filter: invert(0%); */
    /*filter: sepia(0.2)*/
    /* Invert the colors of the image */
}
